@media (max-width: 767px) {

    * {
        box-sizing: border-box;
        max-width: 100%;
    }

    body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        font-size: 12px;
    }

    main {
        width: 100%;
        overflow-x: hidden;
    }

    .pokedex {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        padding: 0;
        margin: 0;
    }

    /* =============================== */
    /* LISTAGEM — maior, rolável       */
    /* =============================== */
    .listagem {
        width: 100%;
        height: 34vh;          /* lista maior para rolagem */
        max-height: 35vh;

        overflow-y: auto;      /* rolagem vertical */
        overflow-x: hidden;

        padding: 6px;

        background-color: #f4e7c1;
        border: 4px solid #000;
        box-shadow: 0px 0px 0px 4px #000,
                    6px 6px 0px #3c3c3c;

        display: flex;
        flex-direction: column;
        gap: 6px;
    }

    /* itens da lista */
    .listagem .pokemon {
        width: 100%;
        min-height: 55px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        background: #fff;
        border: 3px solid #000;
        padding: 6px 8px;
        font-size: 10px;
        flex-shrink: 0;
        box-shadow: 3px 3px 0px #000;
    }

    .listagem .pokemon img {
        width: 45px;
        height: 45px;
    }

    /* =============================== */
    /* CARD - ocupa o resto da tela    */
    /* =============================== */
    .card-pokemon {
        width: 100%;
        height: 78vh;      /* ajustado proporcionalmente */
        max-height: 73vh;
        overflow: hidden;
    }

    .card-pokemon .card-imagem {
        width: 75%;
        max-width: 260px;
        height: auto;
        margin: 0 auto;
    }

    .card-pokemon .card-info {
        padding: 20px;
    }
}
